<script>
export default {
  name: 'step-2-friend',
  computed: {
    gyftiePhoneNumber: () => process.env.GYFTIE_PHONE_NUMBER
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with your friend
  q-card-section.text-center
    p Have your friend send&nbsp;
      strong your phone number&nbsp;
      | to
    br
    strong.text-h5 {{ gyftiePhoneNumber }}
  q-card-actions.flex.justify-end
    q-btn(
      label="Back"
      color="secondary"
      flat
      @click="$emit('changeStep', 'step-1-presentation')"
    )
    q-btn(
      label="Continue"
      color="primary"
      @click="$emit('changeStep', 'step-3-friend')"
    )
</template>

<style lang="stylus">

</style>
