<script>
import { mapActions } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'step-2-gyftie',
  mixins: [validation],
  data () {
    return {
      form: {
        phoneNumber: null
      },
      error: null,
      submitting: false
    }
  },
  methods: {
    ...mapActions('onboard', ['sendSmsOtp']),
    async onSubmit () {
      this.error = null
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      const success = await this.sendSmsOtp(this.form.phoneNumber)
      if (success) {
        this.$emit('changeStep', 'step-3-gyftie')
      } else {
        this.error = 'An error occurred, please contact us on Telegram.'
      }
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with Gyftie
  q-card-section.text-center
    p Type your phone number to receive your verification code
  q-card-section.text-center.row.flex.justify-center
    .col-xs-12.col-sm-8
      q-input.full-width(
        ref="phoneNumber"
        dark
        color="white"
        v-model="form.phoneNumber"
        label="Your international phone number"
        hint="+1-202-555-0155 or +44 1632 960419"
        :rules="[rules.required]"
        lazy-rules
        :error="!!error"
        :error-message="error"
      )
  q-card-actions.flex.justify-end
    q-btn(
      v-if="this.isEOS"
      label="Back"
      color="secondary"
      flat
      @click="$emit('changeStep', 'step-1-presentation')"
    )
    q-btn(
      label="Request code"
      color="primary"
      :loading="submitting"
      @click="onSubmit"
    )
    q-btn(
      label="I have a code"
      color="primary"
      @click="$emit('changeStep', 'step-3-gyftie')"
    )
</template>
