<script>
import { mapActions } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'step-4-friend',
  mixins: [validation],
  data () {
    return {
      form: {
        claimKey: null
      },
      error: null,
      submitting: false
    }
  },
  methods: {
    ...mapActions('onboard', ['claim']),
    async onSubmit () {
      this.error = null
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      const success = await this.claim(this.form.claimKey)
      if (success) {
        this.$emit('changeStep', 'step-final')
      } else {
        this.error = 'An error occurred, please contact us on Telegram.'
      }
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with your friend
  q-card-section.text-center
    p Type the claim key you received
  q-card-section.text-center.row.flex.justify-center
    .col-xs-12.col-sm-8
      q-input.full-width(
        ref="claimKey"
        dark
        color="white"
        v-model="form.claimKey"
        label="Your claim key"
        :rules="[rules.required]"
        lazy-rules
        :error="!!error"
        :error-message="error"
      )
  q-card-actions.flex.justify-end
    q-btn(
      label="Back"
      color="secondary"
      flat
      @click="$emit('changeStep', 'step-3-friend')"
    )
    q-btn(
      label="Verify"
      color="primary"
      :loading="submitting"
      @click="onSubmit"
    )
    q-btn(
      label="I claimed my key"
      color="primary"
      @click="$emit('changeStep', 'step-final')"
    )
</template>

<style lang="stylus">

</style>
