<script>
export default {
  name: 'step-1'
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with
  q-card-section.row.flex.justify-around.text-center
    .col-xs-12.col-sm-6.q-pa-md.column
      .text-h6 Gyftie
      p.q-mt-lg You don't have a friend that can refer you? Don't worry, follow these steps to create your Gyftie account.
      q-btn(
        color="primary"
        label="Continue"
        @click="$emit('changeStep', 'step-2-gyftie')"
      )
    .col-xs-12.col-sm-6.q-pa-md.column
      .text-h6 A friend
      p.q-mt-lg Use your friend's phone number to vouch for you, get your claim key and create your account.
      q-btn(
        color="primary"
        label="Continue"
        @click="$emit('changeStep', 'step-2-friend')"
      )
      q-btn.q-mt-sm(
        color="secondary"
        label="I have my claim key"
        flat
        dense
        @click="$emit('changeStep', 'step-4-friend')"
      )
</template>

<style lang="stylus">

</style>
