<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'step-final',
  data () {
    return {
      interval: null,
      finished: false
    }
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('profiles', ['isProfileCreated']),
    async checkProfile () {
      const success = await this.isProfileCreated()
      if (success) {
        this.finished = true
        clearInterval(this.interval)
      }
    }
  },
  async mounted () {
    this.interval = setInterval(this.checkProfile, 10000)
    await this.checkProfile()
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center(v-if="!finished")
    .text-h5 Congratulations!
  q-card-section.text-center(v-if="!finished")
    p Please wait while we are processing your account, it should be a couple minutes.
    q-spinner(size="4em")
  q-card-section.text-center(v-if="finished")
    .text-h5 Welcome to Gyftie!
    q-btn.q-mt-lg(
      label="Continue"
      color="primary"
      to="/balances"
    )
</template>
