<script>
import { mapActions } from 'vuex'
import { validation } from '~/mixins/validation'
export default {
  name: 'step-4-gyftie',
  mixins: [validation],
  data () {
    return {
      form: {
        referrer: null
      },
      error: null,
      submitting: false
    }
  },
  methods: {
    ...mapActions('onboard', ['refer']),
    async onSubmit () {
      this.error = null
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      await this.refer(this.form.referrer)
      this.$emit('changeStep', 'step-final')
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with Gyftie
  q-card-section.text-center
    p You can enter the Gyftie account name of who invited you
  q-card-section.text-center.row.flex.justify-center
    .col-xs-12.col-sm-8
      q-input.full-width(
        ref="referrer"
        dark
        color="white"
        v-model="form.referrer"
        label="Gyftie account"
        :rules="[rules.required]"
        lazy-rules
        :error="!!error"
        :error-message="error"
      )
  q-card-actions.flex.justify-end
    q-btn(
      label="Skip"
      color="secondary"
      @click="$emit('changeStep', 'step-final')"
    )
    q-btn(
      label="Refer"
      color="primary"
      :loading="submitting"
      @click="onSubmit"
    )
</template>
