<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'
import { generateKeys, copyToClipboard } from '~/utils/eosio'

export default {
  name: 'step-3-gyftie',
  mixins: [validation],
  data () {
    return {
      form: {
        code: null,
        phoneNumber: null
      },
      newUserForm: {
        account: null,
        activeKey: null,
        ownerKey: null
      },
      privateKey: null,
      publicKey: null,
      error: null,
      copy: false,
      generating: true,
      submitting: false
    }
  },
  computed: {
    ...mapGetters('account', ['hasAccount']),
    ...mapGetters('onboard', ['phoneNumber'])
  },
  methods: {
    ...mapActions('onboard', ['verifyOtp']),
    ...mapActions('account', ['lightLogin']),
    async onSubmit () {
      this.error = null
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      await this.resetValidation(this.newUserForm)
      if (!(await this.validate(this.newUserForm))) return
      this.submitting = true
      const success = await this.verifyOtp({
        ...this.form,
        newUser: !this.hasAccount ? this.newUserForm : null
      })
      if (success) {
        if (!this.hasAccount) {
          await this.lightLogin({
            account: this.newUserForm.account,
            privateKey: this.privateKey
          })
        }
        this.$emit('changeStep', 'step-4-gyftie')
        localStorage.setItem('account', this.newUserForm.account)
      } else {
        this.error = 'Wrong code, please contact us on Telegram if that is not the case.'
      }
      this.submitting = false
    },
    onCopyToClipboard (str) {
      copyToClipboard(str)
    }
  },
  async mounted () {
    if (!this.hasAccount) {
      const keyPairs = await generateKeys()
      this.privateKey = keyPairs.privateKey
      this.publicKey = keyPairs.publicKey
      this.newUserForm.activeKey = keyPairs.publicKey
      this.newUserForm.ownerKey = keyPairs.publicKey
      localStorage.setItem('privateKey', keyPairs.privateKey)
      localStorage.setItem('publicKey', keyPairs.publicKey)
      this.generating = false
    }
  }
}
</script>

<template lang="pug">
div
  q-card-section.text-center
    .text-h5 Create your account with Gyftie
  q-card-section.text-center
    p Type the verification code you received
  q-card-section.text-center.row.flex.justify-center
    .col-xs-12.col-sm-8
      q-input.full-width(
        v-if="!hasAccount"
        ref="account"
        dark
        color="white"
        v-model="newUserForm.account"
        label="Account"
        maxlength="12"
        hint="12 lowercase characters, numbers from 1 to 5"
        :rules="[rules.required, rules.accountFormatBasic, rules.accountExists]"
        lazy-rules
      )
    .col-xs-12.col-sm-8
      q-input(
        ref="publicKey"
        v-model="publicKey"
        label="Public Key"
        dark
        color="white"
        text-color="gyftie"
        readonly
        @click="$refs['publicKey'].select()"
        :loading="generating"
      )
        template(v-slot:after)
          q-btn(
            round
            color="primary"
            icon="fas fa-clipboard"
            size="sm"
            @click="onCopyToClipboard(publicKey)"
          )
    .col-xs-12.col-sm-8
      q-input(
        ref="privateKey"
        v-model="privateKey"
        label="Private Key"
        dark
        color="white"
        text-color="gyftie"
        readonly
        @click="$refs['privateKey'].select()"
        :loading="generating"
      )
        template(v-slot:after)
          q-btn(
            round
            color="primary"
            icon="fas fa-clipboard"
            size="sm"
            @click="onCopyToClipboard(privateKey)"
          )
    .col-xs-12.col-sm-8
      q-input.full-width(
        ref="code"
        dark
        color="white"
        v-model="form.code"
        label="Verification code"
        :rules="[rules.required]"
        lazy-rules
        :error="!!error"
        :error-message="error"
      )
    .col-xs-12.col-sm-8
      q-input.full-width(
        v-if="!phoneNumber"
        ref="phoneNumber"
        dark
        color="white"
        v-model="form.phoneNumber"
        label="Phone number"
        :rules="[rules.required]"
        lazy-rules
        :error="!!error"
        :error-message="error"
      )
    .col-xs-12.col-sm-8
      q-checkbox.full-width(
        v-model="copy"
        dark
        label="I have copied my keys somewhere safe"
      )
  q-card-actions.flex.justify-end
    q-btn(
      label="Back"
      color="secondary"
      flat
      @click="$emit('changeStep', 'step-2-gyftie')"
    )
    q-btn(
      label="Verify"
      color="primary"
      :loading="submitting"
      :disabled="hasAccount || !copy"
      @click="onSubmit"
    )
</template>
