<script>
import { mapActions } from 'vuex'
import { assets } from '~/mixins/assets'

export default {
  name: 'page-balances',
  mixins: [assets],
  data () {
    return {
      submitting: false,
      balances: {
        eosUsd: 0,
        gftEos: 0
      }
    }
  },
  async mounted () {
    this.balances = await this.fetchBalances()
  },
  computed: {
    eosBalance () {
      return (parseFloat(this.balances.liquidEos || 0) +
        parseFloat(this.balances.eosOnOrder || 0)).toFixed(4)
    },
    eosBalanceUSD () {
      return this.eosBalance * this.balances.eosUsd
    },
    gftBalance () {
      return parseFloat(this.balances.gftOnOrder || 0) +
        parseFloat(this.balances.liquidGft || 0) +
        parseFloat(this.balances.unstakingGft || 0) +
        parseFloat(this.balances.stakedGft || 0)
    },
    gftBalanceUSD () {
      return this.gftBalance * this.balances.eosUsd * parseFloat(this.balances.gftEos || 0)
    },
    totalUSD () {
      return this.eosBalanceUSD + this.gftBalanceUSD
    }
  },
  methods: {
    ...mapActions('balances', ['fetchBalances', 'unstake']),
    async onUnstake () {
      this.submitting = true
      await this.unstake()
      await this.fetchBalances()
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/balances.svg'), linear-gradient(#320c52, #220837)"
)
  .page-title.col-12.text-center Balances
  .col-md-8.offset-md-2.col-xs-12
    q-card.balances-card.text-white
      q-card-section.totals.flex.justify-around
        .total-balances
          img(src="statics/gyftie-icons/hexagon.svg")
          .total-balance
            .balance-title {{ networkToken }} Balance
            strong {{ eosBalance }}
        .total-balances.center
          img.total-gft(src="statics/gyftie-icons/white-logo.svg")
          img(src="statics/gyftie-icons/balance.png")
          .total-balance
            .balance-title GFT Balance
            strong {{ gftBalance.toFixed(2) }}
        .total-balances
          img(src="statics/gyftie-icons/hexagon.svg")
          .total-balance
            .balance-title USD Value
            strong ${{ totalUSD.toFixed(2) }}
      q-card-section.first-section.row.flex.justify-around
        .token-balance.col-md-5.col-xs-12.q-mt-xs.flex.column.justify-center.items-center
          .token-title {{ gyftieToken }}/{{ networkToken }}
          strong {{ parseFloat(balances.gftEos).toFixed(4) }}
        .token-balance.col-md-5.col-xs-12.q-mt-xs.flex.column.justify-center.items-center
          .token-title {{ networkToken }}/USD
          strong ${{ balances.eosUsd.toFixed(4) }}
      q-card-section.row.flex.justify-around
        .token-balance.col-md-5.col-xs-12.q-mt-xs.flex.column.justify-center.items-center
          .token-title Unstaking {{ gyftieToken }}
          strong {{ parseFloat(balances.unstakingGft).toFixed(8) }}
        .token-balance.col-md-5.col-xs-12.q-mt-xs.flex.column.justify-center.items-center
          .token-title Staked {{ gyftieToken }}
          strong {{ parseFloat(balances.stakedGft).toFixed(8) }}
      q-card-section.row.flex.justify-around
        .token-balance.col-md-5.col-xs-12.q-mt-xs.flex.column.justify-center.items-center
          .token-title Liquid {{ gyftieToken }}
          strong {{ parseFloat(balances.liquidGft).toFixed(8) }}
      q-card-section.row.flex.justify-around
        q-btn.q-pa-sm.q-ma-sm(
          :disabled="parseFloat(balances.stakedGft)"
          icon="far fa-share-square"
          :loading="submitting"
          color="transfer"
          outline
          rounded
          label="Unstake All GFT"
          class="q-px-xl q-py-xs"
          @click="onUnstake"
        )
</template>

<style lang="stylus">
.balances-card
  position relative
  background rgba(255, 255, 255, 0.1)
  margin-top 100px
  @media (max-width $breakpoint-sm-max)
    margin-top 150px
  @media (max-width $breakpoint-xs-max)
    margin-top 80px
  .totals
    position absolute
    top -100px
    width 100%
    @media (max-width $breakpoint-xs-max)
      top -70px
    .total-balances
      position relative
      text-align center
      .total-gft
        position absolute
        width 40px !important
        left calc(50% - 20px)
        top 30px
        @media (max-width $breakpoint-xs-max)
          width 30px !important
          top 20px
      img
        width 150px
        @media (max-width $breakpoint-xs-max)
          width 100px
      .total-balance
        margin-top -110px
        @media (max-width $breakpoint-xs-max)
          margin-top -80px
        .balance-title
          font-weight 200
          @media (max-width $breakpoint-xs-max)
            font-size 12px
        strong
          font-size 24px
          @media (max-width $breakpoint-xs-max)
            font-size 16px
      &.center
        img
          margin-top -10px
          width 170px
          @media (max-width $breakpoint-xs-max)
            margin-top -14px
            width 130px
        .total-balance
          margin-top -100px
          @media (max-width $breakpoint-xs-max)
            margin-top -80px
  .first-section
    padding-top 150px
  .token-balance
    padding 20px
    background rgba(52, 18, 78, 0.8)
    border-radius 5px
    .token-title
      font-weight 200
    strong
      font-size 24px
</style>
