<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'asset-buy-form',
  mixins: [validation],
  props: {
    symbol: { type: String, required: true },
    balance: { type: String }
  },
  data () {
    return {
      form: {
        tlosgft: null
      },
      liquidGft: 0,
      submitting: false
    }
  },
  computed: {
    ...mapGetters('account', ['account']),
    ...mapGetters('assets', ['assetBalance'])
  },
  async mounted () {
    this.liquidGft = await this.fetchLiquidGft()
  },
  methods: {
    ...mapActions('assets', ['buy', 'fetchAccountsBalance']),
    ...mapActions('balances', ['fetchLiquidGft']),
    async onBuy () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      const success = await this.buy({
        ...this.form,
        symbol: this.symbol
      })
      if (success) {
        this.liquidGft = `${(parseFloat(this.liquidGft) - parseFloat(this.form.tlosgft)).toFixed(8)} TLOSGFT`
        this.form.tlosgft = null
        await this.resetValidation(this.form)
        const [, symbol] = this.symbol.split(',')
        await this.fetchAccountsBalance({
          account: this.account,
          symbol
        })
      }
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
q-card.asset-card.text-white
  q-card-section
    .text-h6 Buy asset's shares
  q-card-section
    q-input(
      ref="tlosgft"
      v-model="form.tlosgft"
      dark
      label="TLOSGFT Amount to spend"
      color="white"
      text-color="gyftie"
      :rules="[rules.required, rules.assetPositive, rules.lessThanOrEqual(parseFloat(liquidGft))]"
      :hint="`TLOSGFT Balance: ${liquidGft}`"
    )
  q-card-actions(align="right")
    q-btn(
      label="Buy"
      color="green"
      @click="onBuy"
      :loading="submitting"
    )
</template>

<style lang="stylus" scoped>
.asset-card
  background rgba(255, 255, 255, 0.1)
</style>
