<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'asset-sell-form',
  mixins: [validation],
  props: {
    symbol: { type: String, required: true }
  },
  data () {
    return {
      form: {
        amount: null
      },
      submitting: false
    }
  },
  computed: {
    ...mapGetters('account', ['account']),
    ...mapGetters('assets', ['assetBalance'])
  },
  methods: {
    ...mapActions('assets', ['sell', 'fetchAccountsBalance']),
    async onSell () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      const [digits, symbol] = this.symbol.split(',')
      const amount = `${parseFloat(this.form.amount).toFixed(digits)} ${symbol}`
      const success = await this.sell({
        amount
      })
      if (success) {
        this.form.amount = null
        await this.resetValidation(this.form)
        await this.fetchAccountsBalance({
          account: this.account,
          symbol
        })
      }
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
  q-card.asset-card.text-white
    q-card-section
      .text-h6 Sell your shares
    q-card-section
      q-input(
        ref="amount"
        v-model="form.amount"
        dark
        label="Quantity"
        color="white"
        text-color="gyftie"
        :rules="[rules.required, rules.assetPositive, rules.lessThanOrEqual(parseFloat(assetBalance))]"
        :hint="`You can sell ${assetBalance.replace(/[A-Z\s]/g, '')} shares`"
      )
    q-card-actions(align="right")
      q-btn(
        label="Sell"
        color="red"
        @click="onSell"
        :disable="parseFloat(assetBalance) === 0"
        :loading="submitting"
      )
</template>

<style lang="stylus" scoped>
  .asset-card
    background rgba(255, 255, 255, 0.1)
</style>
