<script>
export default {
  name: 'profiles-list-dialog',
  props: {
    profiles: { type: Array, required: true },
    title: { type: String, default: () => 'Profiles' }
  },
  data () {
    return {
      items: []
    }
  },
  watch: {
    profiles: {
      immediate: true,
      handler (val) {
        this.items = val || []
      }
    }
  }
}
</script>

<template lang="pug">
q-dialog(v-model="!!items.length")
  q-card
    .text-center.text-h6 {{ title }}
    .scroll(style="width: 250px;max-height: 80vh")
      q-list(
        dense
        separator
      )
        q-item(
          v-for="item in items"
          :to="`/@${item}`"
          :key="item"
        )
          q-item-section {{ item }}
    q-separator
    q-btn.full-width(
      color="primary"
      label="Close"
      square
      @click="$emit('close')"
    )
</template>

<style lang="stylus" scoped>

</style>
