<script>
import { mapActions, mapGetters } from 'vuex'
import ProfilesListDialog from '~/components/profiles/profiles-list-dialog'

export default {
  name: 'proposal-list-card',
  components: { ProfilesListDialog },
  props: {
    proposal: { type: Object, required: true }
  },
  data () {
    return {
      submitting: false,
      displayProfiles: [],
      title: null
    }
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('proposals', ['voteFor', 'voteAgainst', 'unVote']),
    async onVoteFor (id) {
      this.submitting = true
      if (this.proposal.voters_for.includes(this.account)) {
        await this.onUnVote(id)
      } else {
        if (this.proposal.voters_against.includes(this.account)) {
          const result = await this.onUnVote(id)
          if (!result) {
            this.submitting = false
            return
          }
        }
        const result = await this.voteFor(id)
        if (result) {
          this.proposal.voters_for.push(this.account)
        }
      }
      this.submitting = false
    },
    async onVoteAgainst (id) {
      this.submitting = true
      if (this.proposal.voters_against.includes(this.account)) {
        await this.onUnVote(id)
      } else {
        if (this.proposal.voters_for.includes(this.account)) {
          const result = await this.onUnVote(id)
          if (!result) {
            this.submitting = false
            return
          }
        }
        const result = await this.voteAgainst(id)
        if (result) {
          this.proposal.voters_against.push(this.account)
        }
      }
      this.submitting = false
    },
    async onUnVote (id) {
      const result = await this.unVote(id)
      if (result) {
        this.proposal.voters_for = this.proposal.voters_for.filter(a => a !== this.account)
        this.proposal.voters_against = this.proposal.voters_against.filter(a => a !== this.account)
      }
      return result
    }
  }
}
</script>

<template lang="pug">
q-card.proposal-list-card.q-mt-lg.text-white
  profiles-list-dialog(
    :title="title"
    :profiles="displayProfiles"
    @close="() => { displayProfiles = []; title = '' }"
  )
  q-card-section
    router-link.text-h6.proposal-link(
      :to="`/proposals/${proposal.proposal_id}`"
    ) {{ proposal.proposal_name }}
  q-card-section
    p {{ proposal.notes }}
  q-card-section.flex.justify-between
    .voters
      q-btn(
        icon-right="fa fa-thumbs-up"
        :label="proposal.votes_for"
        flat
        rounded
        dense
        size="sm"
        color="white"
        @click="() => { displayProfiles = proposal.voters_for; title = 'Have voted for'}"
      )
      q-btn(
        icon-right="fa fa-thumbs-down"
        :label="proposal.votes_against"
        flat
        rounded
        dense
        size="sm"
        color="white"
        @click="() => { displayProfiles = proposal.voters_against; title = 'Have voted against'}"
      )
    div
      strong {{ proposal.proposer }}
      i the {{ new Date(proposal.created_date).toLocaleDateString() }}
  q-card-actions(
    align="center"
  )
    q-btn(
      :icon="`${proposal.voters_for.includes(account) ? 'fa' : 'far'} fa-thumbs-up`"
      color="green"
      rounded
      outline
      :loading="submitting"
      @click="onVoteFor(proposal.proposal_id)"
    )
    q-btn(
      :icon="`${proposal.voters_against.includes(account) ? 'fa' : 'far'} fa-thumbs-down`"
      color="red"
      rounded
      outline
      :loading="submitting"
      @click="onVoteAgainst(proposal.proposal_id)"
    )
</template>

<style lang="stylus">
.proposal-list-card
  background rgba(52, 18, 78, 0.8)
  .proposal-link
    text-decoration none
    color white
  .voters
    margin-top 5px
    .q-icon
      margin-top -3px
      margin-left 3px
      margin-right 3px
      font-size 12px !important
</style>
