<script>
import { mapActions, mapGetters } from 'vuex'
import AgainstTab from './components/against-tab'
import CommentsTab from './components/comments-tab'
import InFavorTab from './components/in-favor-tab'

export default {
  name: 'page-proposal',
  components: {
    AgainstTab,
    CommentsTab,
    InFavorTab
  },
  data () {
    return {
      proposal: {},
      submitting: false,
      tab: 'comments'
    }
  },
  async mounted () {
    await this.loadProposal(this.$route.params.id)
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('proposals', ['fetchProposal', 'voteFor', 'voteAgainst', 'unVote']),
    async loadProposal (id) {
      this.proposal = await this.fetchProposal(id)
    },
    async onVoteFor () {
      this.submitting = true
      if (this.proposal.voters_for.includes(this.account)) {
        await this.onUnVote(this.$route.params.id)
        this.proposal.votes_for -= 1
      } else {
        if (this.proposal.voters_against.includes(this.account)) {
          const result = await this.onUnVote(this.$route.params.id)
          if (!result) {
            this.submitting = false
            return
          }
          this.proposal.votes_against -= 1
        }
        const result = await this.voteFor(this.$route.params.id)
        if (result) {
          this.proposal.voters_for.push(this.account)
          this.proposal.votes_for += 1
        }
      }
      this.submitting = false
    },
    async onVoteAgainst () {
      this.submitting = true
      if (this.proposal.voters_against.includes(this.account)) {
        await this.onUnVote(this.$route.params.id)
        this.proposal.votes_against -= 1
      } else {
        if (this.proposal.voters_for.includes(this.account)) {
          const result = await this.onUnVote(this.$route.params.id)
          if (!result) {
            this.submitting = false
            return
          }
          this.proposal.votes_for -= 1
        }
        const result = await this.voteAgainst(this.$route.params.id)
        if (result) {
          this.proposal.voters_against.push(this.account)
          this.proposal.votes_against += 1
        }
      }
      this.submitting = false
    },
    async onUnVote (id) {
      const result = await this.unVote(id)
      if (result) {
        this.proposal.voters_for = this.proposal.voters_for.filter(a => a !== this.account)
        this.proposal.voters_against = this.proposal.voters_against.filter(a => a !== this.account)
      }
      return result
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg(
  style="background-image: url('statics/backgrounds/proposals.svg'), linear-gradient(#320c52, #220837)"
)
  .row
    .col-md-8.offset-md-2.col-xs-12.text-h5.text-white.text-center {{ proposal.proposal_name }}
  .row.q-mt-xl
    .col-md-8.offset-md-2.col-xs-12
      q-card.proposal-details-card.text-white
        q-card-section.flex.justify-between
          strong.text-h6 By {{ proposal.proposer }}
          .avatar-rank
            img(src="statics/gyftie-icons/hexagon.svg")
            .rank(:font-size="`${32 - String(proposal.rank).length * 4}px`") {{ proposal.rank }}
        q-card-section
          p {{ proposal.notes }}
        q-separator
        q-card-actions.flex.justify-between
          .voters
            q-btn(
              icon-right="fa fa-thumbs-up"
              :label="proposal.votes_for"
              flat
              rounded
              dense
              size="sm"
              color="white"
              @click="onVoteFor"
            )
            q-btn(
              icon-right="fa fa-thumbs-down"
              :label="proposal.votes_against"
              flat
              rounded
              dense
              size="sm"
              color="white"
              @click="onVoteAgainst"
            )
          i {{ new Date(proposal.updated_date).toDateString() }}
  .row.q-mt-md
    .col-md-8.offset-md-2.col-xs-12
      q-tabs(
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      )
        q-tab(name="comments" label="Comments")
        q-tab(name="inFavor" label="In favor")
        q-tab(name="against" label="Against")
      q-separator
      q-tab-panels(
        v-model="tab"
        animated
      )
        q-tab-panel(name="comments")
          comments-tab(ref="commentsTab")
        q-tab-panel(name="inFavor")
          in-favor-tab(
            ref="inFavorTab"
            :users="proposal.voters_for"
          )
        q-tab-panel(name="against")
          against-tab(
            ref="againstTab"
            :users="proposal.voters_against"
          )
</template>

<style lang="stylus">
.proposal-details-card
  background rgba(255, 255, 255, 0.1)
  .avatar-rank
    width 50px
    height 50px
    position relative
    padding 5px
    .rank
      text-align center
      margin-top -38px
  .voters
    margin-top 5px
    .q-icon
      margin-top -3px
      margin-left 3px
      font-size 12px !important
</style>
