<script>
export default {
  name: 'asset-card',
  props: {
    asset: { type: Object, required: true }
  }
}
</script>

<template lang="pug">
q-card.asset-list-card.text-white
  q-item
    q-item-section
      q-item-label
        router-link(:to="`/assets/${asset.asset_id}`").text-h6.account-link {{ asset.asset_name }}
      q-item-label.text-white(caption) {{ asset.owner }}
</template>

<style lang="stylus">
.asset-list-card
  background rgba(115, 83, 158, 0.3)
  .account-link
    text-decoration none
    color white
</style>
