<script>
import { mapActions } from 'vuex'
import AssetsTab from './components/assets-tab'
import CommentsTab from './components/comments-tab'
import FollowersTab from './components/followers-tab'
import MyCommentsTab from './components/my-comments-tab'
import MyVotesTab from './components/my-votes-tab'

export default {
  name: 'page-profile',
  components: {
    AssetsTab,
    CommentsTab,
    FollowersTab,
    MyCommentsTab,
    MyVotesTab
  },
  data () {
    return {
      profile: {
        profiles_this_profile_voted_for: []
      },
      badges: [],
      accountBadges: [],
      tab: 'comments',
      assets: []
    }
  },
  async mounted () {
    await this.loadData(this.$route.params.account)
  },
  methods: {
    ...mapActions('assets', ['fetchAccounts']),
    ...mapActions('profiles', ['fetchProfile']),
    async loadData (account) {
      const { profile, badges, accountBadges } = await this.fetchProfile(account)
      this.profile = profile
      this.badges = badges
      this.accountBadges = accountBadges
      this.assets = await this.fetchAccounts(account)
    }
  },
  watch: {
    '$route.params.account': {
      async handler (val) {
        await this.loadData(val)
      }
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.column.content-center(
  style="background-image: url('statics/backgrounds/profile.svg'), linear-gradient(#320c52, #220837)"
)
  .column-item
    q-card.profile-card.text-white
      q-card-section.actions.flex.justify-around
        .gyftie-action.text-center(style="background-image: url('statics/gyftie-icons/hexagon.svg')")
          q-btn.action-invite(
            icon="img:statics/gyftie-icons/invite.svg"
            flat
            dense
            size="md"
          )
          | Invite
        img.avatar(
          src="statics/defaults/avatar.jpg"
        )
        .gyftie-action.text-center(style="background-image: url('statics/gyftie-icons/hexagon.svg')")
          q-btn.action-report(
            icon="img:statics/gyftie-icons/report.svg"
            flat
            dense
          )
          | Report
      q-card-section.account-name.text-center
        strong.text-h6 {{ profile.account }}
        .text-vouched
          | Vouched for&nbsp;
          strong {{ profile.profiles_this_profile_voted_for.length }} other  people
      q-card-section.row.flex.justify-around
        .sub-card.q-pa-lg.col-md-5.col-xs-12.q-mt-xs.flex.justify-center.items-center
          .text-h5 RANK: &nbsp;
          strong.text-h5 {{ profile.rank }}
        .sub-card.q-pa-lg.col-md-5.col-xs-12.q-mt-xs.flex.justify-around
          q-img.badge(
            v-for="badge in badges"
            :key="badge.badge_id"
            :src="`statics/badges/${badge.badge_id}${!accountBadges.find(b => b.badge_holder === $route.params.account && b.badge_id === badge.badge_id) ? '-grayed' : ''}.svg`"
            placeholder-src="statics/badges/vouchirl-grayed.svg"
          )
            q-tooltip {{ badge.description }}
  .column-item.q-mt-md
    q-tabs(
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
      narrow-indicator
    )
      q-tab(name="comments" label="Comments")
      q-tab(name="myComments" label="My comments")
      q-tab(name="followers" label="Followers")
      q-tab(name="myVotes" label="My votes")
      q-tab(name="assets" label="Assets")
    q-separator
    q-tab-panels(
      v-model="tab"
      animated
    )
      q-tab-panel(name="comments")
        comments-tab(ref="commentsTab")
      q-tab-panel(name="myComments")
        my-comments-tab(ref="myCommentsTab")
      q-tab-panel(name="followers")
        followers-tab(
          ref="followersTab"
          :users="profile.promotion_votes_for_this_profile"
        )
      q-tab-panel(name="myVotes")
        my-votes-tab(
          ref="myVotesTab"
          :users="profile.profiles_this_profile_voted_for"
        )
      q-tab-panel(name="assets")
        assets-tab(
          ref="assetsTab"
          :assets="assets"
        )
</template>

<style lang="stylus">
.column-item
  width 66%
  @media (max-width $breakpoint-xs-max)
    width 95%
.profile-card
  position relative
  background rgba(255, 255, 255, 0.1)
  margin-top 70px
  .actions
    position absolute
    top -40px
    width 100%
    .avatar
      width 125px
      height auto
      margin-top -40px
    .gyftie-action
      background no-repeat
      background-size contain
      width 50px
      height 50px
      .q-icon
        width 30px
        height 43px
        margin-left -4px
      .action-report
        .q-icon
          height 40px
  .account-name
    padding-top 70px
  .text-vouched
    font-size 12px
  .sub-card
    background rgba(255, 255, 255, 0.1)
    border-radius 5px
    .badge
      position relative
      max-width 40px
      .img-grayed
        svg
          color gray
      img
        display block
</style>
