<template lang="pug">
  q-scroll-area.fit
    img.logo(
      v-if="$q.screen.gt.sm"
      src="statics/logos/desktop.png"
    )
    q-list(
      v-for="(menuItem, index) in menuList"
      :key="index"
    )
      q-item(
        clickable
        v-ripple
        :to="menuItem.route"
      )
        q-item-section(avatar)
          q-icon(:name="menuItem.icon")
        q-item-section {{ menuItem.label }}
      q-separator(v-if="menuItem.separator")

    q-list(v-if="approvers.includes(account)")
        q-separator
        q-item Admin Section
        q-item(
          clickable
          v-ripple
          to='approve'
        )
          q-item-section(avatar)
            q-icon(name='vpn_key')
          q-item-section Approve
</template>

<script>
import { mapGetters } from 'vuex'
import { assets } from '~/mixins/assets'

export default {
  name: 'left-menu',
  mixins: [assets],
  computed: {
    ...mapGetters('account', ['account']),
    menuList: function () {
      const menu = []
      menu.push({ icon: 'fa fa-users', label: 'Profiles', route: '/profiles' })
      menu.push({ icon: 'fa fa-wallet', label: 'Balances', route: '/balances' })
      menu.push({ icon: 'fa fa-paper-plane', label: 'Pay/Send', route: '/transfer' })
      if (this.isEOS) {
        menu.push({ icon: 'local_offer', label: 'Trade', route: '/trade' })
      }
      menu.push({ icon: 'fab fa-hubspot', label: 'Proposals', route: '/proposals' })
      menu.push({ icon: 'fas fa-shield-alt', label: 'Verify User', route: '/verifyuser' })
      menu.push({ icon: 'fas fa-archive', label: 'Assets', route: '/assets' })
      return menu
    }
  }
}
</script>

<style lang="stylus">
  .logo
    max-width 180px
    padding 10px
    margin 0 auto
    display block
</style>
