<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'right-menu-notifications',
  computed: {
    ...mapGetters('notifications', ['notifications'])
  },
  methods: {
    ...mapMutations('notifications', ['clearNotifications']),
    openUrl (url) {
      window.open(`${process.env.TRX_WEB_PREFIX}${url}`)
    },
    getClass (notification) {
      return {
        'notif-success': notification.status === 'success',
        'notif-error': notification.status === 'error',
        'new-success': !notification.read && notification.status === 'success',
        'new-error': !notification.read && notification.status === 'error'
      }
    }
  }
}
</script>

<template lang="pug">
.column.justify-between.full-height.relative-position
  q-list(
    dark
    separator
    :style="{ overflow:'auto' }"
  )
    q-item
      q-item-section.text-center
        strong Transactions
    q-item(
      v-if="notifications.length"
      v-for="notification in notifications"
      :key="notification.id"
      :class="getClass(notification)"
    )
      q-item-section(avatar)
        q-icon(
          :name="notification.icon"
          size="xs"
          :color="notification.status === 'success' ? 'green' : 'red'"
        )
      q-item-section
        q-item-label(overline) {{ notification.title }}
        q-item-label.notif-content(caption) {{ notification.status === 'success' ? notification.content : notification.error }}
      q-item-section(
        v-if="notification.transactionId"
        side
      )
        q-btn(
          color="white"
          icon="launch"
          @click="openUrl(notification.transactionId)"
          target="_blank"
          dense
          flat
          size="8px"
        )
          q-tooltip View on the blockchain explorer
  q-btn.clear-all.full-width(
    label="Clear all"
    color="primary"
    :style="{borderRadius: 0}"
    @click="clearNotifications"
  )
</template>

<style lang="stylus" scoped>
.clear-all
  position: absolute
  bottom: 0
.notif-content
  max-width 150px
  word-break break-all
.notif-success
    background: rgba(0, 255, 0, 0.3)
.new-success
  background: rgba(0, 255, 0, 0.7)
.notif-error
  background: rgba(255, 0, 0, 0.3)
.new-error
  background: rgba(255, 0, 0, 0.7)
</style>
