<script>
export default {
  name: 'proposal-against-tab',
  props: {
    users: { type: Array, default: () => [] }
  }
}
</script>

<template lang="pug">
  q-card.tab-card.text-white(flat)
    q-list
      q-item(
        v-for="user in users"
        :key="user"
        :to="`/@${user}`"
      ) {{ user }}
</template>

<style lang="stylus" scoped>
  .tab-card
    background none
</style>
