<script>
import { mapActions, mapGetters } from 'vuex'
import ProfilesListDialog from '~/components/profiles/profiles-list-dialog'

export default {
  name: 'profile-card',
  components: { ProfilesListDialog },
  props: {
    profile: { type: Object, required: true }
  },
  data () {
    return {
      loading: false,
      displayProfiles: []
    }
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('profiles', ['toggleVoteForUser']),
    async onToggleVoteForUser () {
      this.loading = true
      await this.toggleVoteForUser({
        profile: this.profile.account,
        dir: !this.profile.promotion_votes_for_this_profile.includes(this.account)
      })
      this.loading = false
    }
  }
}
</script>

<template lang="pug">
q-card.profile-list-card.text-white
  profiles-list-dialog(
    title="People who voted for me"
    :profiles="displayProfiles"
    @close="displayProfiles = []"
  )
  q-item
    q-item-section
      q-item-label
        router-link(:to="`/@${profile.account}`").text-h6.account-link {{ profile.account }}
        .vouched-for Vouched for {{ profile.profiles_this_profile_voted_for.length }} other  people
      q-item-label(
        caption
      )
        .voters
          q-btn(
            icon-right="fa fa-thumbs-up"
            :label="profile.promotion_votes_for_this_profile.length"
            flat
            rounded
            dense
            size="sm"
            color="white"
            @click="displayProfiles = profile.promotion_votes_for_this_profile"
          )
    q-item-section(avatar)
      .avatar-rank
        img(src="statics/gyftie-icons/hexagon.svg")
        .rank(:font-size="`${32 - String(profile.rank).length * 4}px`") {{ profile.rank }}
      q-item-label(caption).q-mt-xs
        i.text-white {{new Date(profile.created_date).toLocaleDateString()}}
  q-separator
  q-btn.float-right.q-mt-xs.upvote(
    v-if="profile.account !== account"
    :icon="`${profile.promotion_votes_for_this_profile.includes(account) ? 'fa' : 'far'} fa-thumbs-up`"
    color="accent"
    flat
    rounded
    size="xs"
    @click="onToggleVoteForUser"
    :loading="loading"
  )
</template>

<style lang="stylus">
.profile-list-card
  background rgba(115, 83, 158, 0.3)
  .vouched-for
    font-size 10px
  .avatar-rank
    width 50px
    height 50px
    position relative
    padding 5px
    .rank
      text-align center
      margin-top -38px
  .upvote
    padding 0
  .account-link
    text-decoration none
    color white
  .voters
    margin-top 5px
    .q-icon
      margin-top -3px
      margin-left 3px
      font-size 12px !important
</style>
