<script>
import { mapMutations } from 'vuex'

export default {
  name: 'search',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    ...mapMutations('profiles', ['setSearch'])
  },
  watch: {
    search (val) {
      this.setSearch(val)
    }
  }
}
</script>

<template lang="pug">
  q-input(
    v-model="search"
    debounce="500"
    rounded
    outlined
    dense
    dark
    placeholder="Search for an account or a rank"
    style="width: calc(100% - 30px)"
  )
    template(v-slot:append)
      q-icon.cursor-pointer(
        v-if="search !== ''"
        name="close"
        @click="search = ''"
      )
      q-icon(
        v-else
        name="search"
      )
</template>

<style lang="stylus">

</style>
