<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'sorting',
  methods: {
    ...mapMutations('profiles', ['setSorting'])
  },
  computed: {
    ...mapGetters('profiles', ['isDesc', 'order'])
  }
}
</script>

<template lang="pug">
  q-btn(
    color="primary"
    text-color="white"
    :icon="`fa fa-sort-amount-${isDesc ? 'down' : 'up'}${isDesc ? '' : '-alt'}`"
    flat
    dense
    size="sm"
  )
    q-menu
      q-list(dense).sort-menu
        q-item(
          clickable
          v-close-popup
          @click="setSorting({ order: 'account' })"
          :active="order === 'account' && !isDesc"
        )
          q-item-section(avatar)
            q-icon(
              name="fa fa-sort-alpha-down"
              size="16px"
            )
          q-item-section Name
        q-item(
          clickable
          v-close-popup
          @click="setSorting({ order: 'account', reverse: true })"
          :active="order === 'account' && isDesc"
        )
          q-item-section(avatar)
            q-icon(
              name="fa fa-sort-alpha-up-alt"
              size="16px"
            )
          q-item-section Name
        q-item(
          clickable
          v-close-popup
          @click="setSorting({ order: 'rank' })"
          :active="order === 'rank' && !isDesc"
        )
          q-item-section(avatar)
            q-icon(
              name="fa fa-sort-numeric-down"
              size="16px"
            )
          q-item-section Rank
        q-item(
          clickable
          v-close-popup
          @click="setSorting({ order: 'rank', reverse: true })"
          :active="order === 'rank' && isDesc"
        )
          q-item-section(avatar)
            q-icon(
              name="fa fa-sort-numeric-up-alt"
              size="16px"
            )
          q-item-section Rank
</template>

<style lang="stylus" scoped>
  .sort-menu
    font-size 12px
</style>
