<script>
import { mapActions } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'asset-add',
  mixins: [validation],
  data () {
    return {
      form: {
        name: null,
        description: null,
        category: null,
        subcategory: null,
        symbol: null,
        immutableAttributes: []
      },
      submitting: false
    }
  },
  methods: {
    ...mapActions('assets', ['createAsset']),
    removeImmutableAttribute (i) {
      this.form.immutableAttributes = [
        ...this.form.immutableAttributes.slice(0, i),
        ...this.form.immutableAttributes.slice(i + 1)
      ]
    },
    async onCreateAsset () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      try {
        const success = await this.createAsset(this.form)
        if (success) {
          this.form = {
            name: null,
            description: null,
            category: null,
            subcategory: null,
            symbol: null,
            immutableAttributes: []
          }
          await this.resetValidation(this.form)
        }
      } catch (e) {
        console.log(e)
      }
      this.submitting = false
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/proposals.svg'), linear-gradient(#320c52, #220837)"
)
  .col-md-6.offset-md-3.col-xs-12
    .page-title.col-12.text-center Create an asset
    q-card.asset-card.text-white
      q-card-section.actions.flex.justify-center
        img.avatar(
          src="statics/gyftie-icons/transfer.png"
        )
      q-card-section
        q-input(
          ref="name"
          dark
          v-model="form.name"
          label="Name"
          color="white"
          text-color="gyftie"
          :rules="[rules.required]"
        )
        q-input(
          ref="description"
          dark
          v-model="form.description"
          label="Description"
          color="white"
          text-color="gyftie"
          :rules="[rules.required]"
        )
        q-input(
          ref="category"
          dark
          v-model="form.category"
          label="Category"
          color="white"
          text-color="gyftie"
          :rules="[rules.required]"
        )
        q-input(
          ref="subcategory"
          dark
          v-model="form.subcategory"
          label="Subcategory"
          color="white"
          text-color="gyftie"
          :rules="[rules.required]"
        )
        q-input(
          ref="symbol"
          dark
          v-model="form.symbol"
          label="Symbol"
          color="white"
          text-color="gyftie"
          :rules="[rules.required]"
        )
      q-card-section
        .flex.text-white.justify-between
          | Immutable attributes
          q-btn(
            icon="fas fa-plus"
            color="accent"
            @click="form.immutableAttributes.push({key: null, value: null})"
            rounded
            dense
            size="xs"
          )
        .row.q-col-gutter-xs.flex.items-center.justify-between(
          v-for="(attr, i) in form.immutableAttributes"
          :key="`immutableAttr${i}`"
        )
          .col-5
            q-input(
              :ref="`immutableAttributes${i}_key`"
              dark
              v-model="form.immutableAttributes[i].key"
              label="Key"
              color="white"
              text-color="gyftie"
              :rules="[rules.required]"
            )
          .col-5
            q-input(
              :ref="`immutableAttributes${i}_value`"
              dark
              v-model="form.immutableAttributes[i].value"
              label="Value"
              color="white"
              text-color="gyftie"
              :rules="[rules.required]"
            )
          .col-2.text-right
            q-btn(
              color="accent"
              icon="fas fa-minus"
              size="xs"
              dense
              @click="removeImmutableAttribute(i)"
            )
      q-card-section.row.flex.justify-around
        q-btn.q-pa-sm.q-ma-sm(
          icon="fas fa-cubes"
          :loading="submitting"
          color="transfer"
          outline
          rounded
          label="Create"
          size="md"
          class="q-px-xl q-py-xs"
          @click="onCreateAsset"
        )
</template>

<style lang="stylus" scoped>
.asset-card
  position relative
  background rgba(255, 255, 255, 0.1)
  margin-top 70px
  padding 100px 50px 50px 50px
  .actions
    position absolute
    top -100px
    left 0
    width 100%
    .avatar
      width 150px
      height auto
</style>
