<script>
import { mapActions, mapGetters } from 'vuex'
import ProfileCard from './components/profile-card'
import Search from './components/search'
import Sorting from './components/sorting'

export default {
  name: 'page-profiles',
  components: { ProfileCard, Search, Sorting },
  methods: {
    ...mapActions('profiles', ['fetchProfiles']),
    async onLoad (index, done) {
      await this.fetchProfiles()
      done()
    }
  },
  computed: {
    ...mapGetters('profiles', ['profiles', 'profilesLoaded', 'isDesc', 'order'])
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg(
  style="background-image: url('statics/backgrounds/profile.svg'), linear-gradient(#320c52, #220837)"
)
  .flex.justify-between.q-mb-md
    search
    sorting
  .profiles(ref="profilesRef")
    q-infinite-scroll(
      :disable="profilesLoaded"
      @load="onLoad"
      :offset="250"
      :scroll-target="$refs.profilesRef"
    )
      .row.q-col-gutter-md
        .col-xs-12.col-sm-6.col-md-4(v-for="profile in profiles")
          profile-card(:profile="profile")
      template(v-slot:loading)
        .row.justify-center.q-my-md
          q-spinner-dots(
            color="primary"
            size="40px"
          )
</template>
