<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'
import RequestAccount from './login/components/request-account'

export default {
  name: 'Login',
  components: {
    RequestAccount
  },
  mixins: [validation],
  data () {
    return {
      form: {
        account: null,
        privateKey: null
      },
      errorPrivateKey: null,
      submitting: false
    }
  },
  computed: {
    ...mapGetters('account', ['isAuthenticated', 'loading'])
  },
  methods: {
    ...mapActions('account', ['loginWallet', 'loginInApp', 'autoLogin']),
    async onLoginWallet (idx) {
      this.idx = idx
      await this.loginWallet({ idx, returnUrl: this.$route.query.returnUrl })
    },
    async onAccountEntered (account) {
      await this.loginWallet({ idx: this.idx, account, returnUrl: this.$route.query.returnUrl })
    },
    async onLoginInApp () {
      this.errorPrivateKey = null
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      this.errorPrivateKey = await this.loginInApp({
        ...this.form,
        returnUrl: this.$route.query.returnUrl
      })
      this.submitting = false
    },
    openUrl (url) {
      window.open(url)
    }
  },
  async mounted () {
    await this.autoLogin(this.$route.query.returnUrl)
  }
}
</script>

<template lang="pug">
q-page.q-pa-lg.flex.flex-center.column
  q-btn.full-width(
    v-if="isTELOS"
    to="/onboard"
    color="primary"
    label="New user? Create an account"
    :style="{ maxWidth: '400px' }"
  )
  .or-sep.flex.justify-between.text-white.q-my-lg
    hr.separator
    | OR
    hr.separator
  q-card.login-card.text-white
    q-card-section.text-center
      .text-h6 Login
    q-card-section
      q-input(
        ref="account"
        v-model="form.account"
        label="Account"
        dark
        color="white"
        text-color="gyftie"
        maxlength="12"
        :rules="[rules.required, rules.accountFormat]"
        lazy-rules
      )
      q-input(
        ref="privateKey"
        v-model="form.privateKey"
        label="Private key"
        dark
        color="white"
        text-color="gyftie"
        :rules="[rules.required]"
        lazy-rules
        :error="!!errorPrivateKey"
        :error-message="errorPrivateKey"
      )
    q-card-actions
      q-btn.full-width(
        color="primary"
        label="Login"
        @click="onLoginInApp"
        :loading="submitting"
      )
  .or-sep.flex.justify-between.text-white.q-my-lg
    hr.separator
    | OR
    hr.separator
  q-list
    q-item.wallet(
      v-if="wallet.shouldRender()"
      v-for="(wallet, idx) in $ual.authenticators"
      :key="wallet.getStyle().text"
      v-ripple
      :style="{ background: wallet.getStyle().background, color: wallet.getStyle().textColor }"
    )
      q-item-section.cursor-pointer(
        avatar
        @click="onLoginWallet(idx)"
      )
        img(
          :src="wallet.getStyle().icon"
          width="30"
        )
      q-item-section.cursor-pointer(@click="onLoginWallet(idx)") {{ wallet.getStyle().text }}
      q-item-section(avatar)
        .flex
          q-spinner(
            v-if="loading === wallet.getStyle().text"
            :color="wallet.getStyle().textColor"
            size="2em"
          )
          q-btn(
            v-else
            :color="wallet.getStyle().textColor"
            icon="fas fa-download"
            @click="openUrl(wallet.getOnboardingLink())"
            target="_blank"
            dense
            flat
            size="12px"
          )
            q-tooltip Get app
  request-account(
    @accountEntered="onAccountEntered"
  )
</template>

<style lang="stylus" scoped>
.wallet
  width 400px
  max-width 80vh
  margin-bottom 5px
.login-card
  position relative
  background rgba(255, 255, 255, 0.1)
  width 400px
.or-sep
  width 400px
  hr
    width 45%
</style>
