<template lang="pug">
  q-page.q-pa-lg
    q-linear-progress(
      v-if="submit"
      indeterminate
    )
    .q-pa-sm
      q-card.gyftie-card(bordered)
        q-card-section.q-ma-sm
          q-separator
          q-btn-toggle.text-gyftie(
              v-model="tradingMode"
              color="gyftie"
              spread
              no-caps
              :options="[{label: 'Buy GFT', value: 'buy'}, {label: 'Sell GFT', value: 'sell'}]"
          )

          div(v-if="tradingMode === 'buy'")
            .q-pa-md.text-subtitle1 Available: {{ balances.liquidEos }}
            q-toggle(
              label='Set Price'
              v-model="setPrice"
            )
            q-input.q-ma-sm(
              v-if="setPrice"
              dark
              v-model="form.buyPrice"
              label="Price"
              suffix="EOS"
              :rules="[rules.asset_format]"
            )
            q-input.q-ma-sm(
              dark
              v-model="form.buyAmountInEos"
              label="EOS to Spend"
              suffix="EOS"
              :rules="[rules.required, rules.asset_format]"
            )

          div(v-else)
            .q-pa-md.text-subtitle1 Available: {{ balances.liquidGft }}
            q-toggle(
              label='Set Price'
              v-model="setPrice"
            )
            q-input.q-ma-sm(
              v-if="setPrice"
              dark
              v-model="form.sellPrice"
              label="Price"
              suffix="EOS"
              :rules="[rules.asset_format]"
            )
            q-input.q-ma-sm(
              dark
              v-model="form.sellAmountInGft"
              label="GFT to Sell"
              suffix="GFT"
              :rules="[rules.required, rules.asset_format]"
            )

        q-card-section.q-ma-sm
          q-btn.text-gyftie(
            v-if="tradingMode === 'buy'"
            :loading="submit"
            color="gyftie"
            label="Buy"
            @click="onBuy"
          )
          q-btn.text-gyftie(
            v-if="tradingMode === 'sell'"
            :loading="submit"
            color="gyftie"
            label="Sell"
            @click="onSell"
          )
      .q-pa-md(v-if="tradingMode === 'sell'")
        q-table.gyftie-card(
          title="Sell Orders"
          :data="sellOrders"
          :columns="columns"
          row-key="name"
          dense
        )
        q-table.q-mt-lg.gyftie-card(
          title="My Sell Orders"
          :data="mySellOrders"
          :columns="myColumns"
          row-key="name"
          dense
        )
          template(v-slot:body="props")
            q-tr(:props="props")
              q-td(
                key="price_per_gft"
                :props="props"
              ) {{ props.row.price_per_gft }}
              q-td(
                key="gft_amount"
                :props="props"
              ) {{ props.row.gft_amount }}
              q-td(
                key="action"
                :props="props"
              )
                q-icon(
                  @click="() => onDeleteSellOrder(props.row)"
                  name="delete"
                )
      .q-pa-md(v-else)
        q-table.gyftie-card(
          title="Buy Orders"
          :data="buyOrders"
          :columns="columns"
          row-key="name"
          dense
        )
        q-table.gyftie-card.q-mt-lg(
          title="My Buy Orders"
          :data="myBuyOrders"
          :columns="myColumns"
          row-key="name"
          dense
        )
          template(v-slot:body="props")
            q-tr(:props="props")
              q-td(
                key="price_per_gft"
                :props="props"
              ) {{ props.row.price_per_gft }}
              q-td(
                key="gft_amount"
                :props="props"
              ) {{ props.row.gft_amount }}
              q-td(
                key="action"
                :props="props"
              )
                q-icon(
                  @click="() => onDeleteBuyOrder(props.row)"
                  name="delete"
                )
    q-inner-loading(:showing="loading")
      q-spinner(size="3em")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Trade',
  data () {
    return {
      loading: true,
      submit: false,
      balances: {
        liquidGft: '0',
        liquidEos: '0'
      },
      buyOrders: [],
      sellOrders: [],
      myBuyOrders: [],
      mySellOrders: [],
      setPrice: false,
      form: {
        buyPrice: '',
        sellPrice: '',
        buyAmountInEos: '',
        sellAmountInGft: ''
      },
      tradingMode: 'buy',
      rules: {
        required: value => !!value || 'Required',
        asset_format: value => /^(([0-9]*)|(([0-9]*)\.([0-9]*)))$/.test(value) || 'Amount must be numeric. Do not include symbol.'
      },
      myColumns: [
        { name: 'price_per_gft', label: 'Price', field: 'price_per_gft' },
        { name: 'gft_amount', label: 'GFT Amount', field: 'gft_amount' },
        { name: 'action', label: 'Actions' }
      ],
      columns: [
        { name: 'price_per_gft', label: 'Price', field: 'price_per_gft' },
        { name: 'gft_amount', label: 'GFT Amount', field: 'gft_amount' },
        { name: 'cumulativeGft', label: 'Cumulative GFT', field: 'cumulativeGft' },
        { name: 'cumulativeEos', label: 'Cumulative EOS', field: 'cumulativeEos' }
      ]
    }
  },
  computed: {
    ...mapGetters('account', ['isAuthenticated'])
  },
  methods: {
    ...mapActions('trades', [
      'loadBuyOrders',
      'loadSellOrders',
      'fetchLiquidTokens',
      'limitSell',
      'marketSell',
      'limitBuy',
      'marketBuy',
      'deleteSellOrder',
      'deleteBuyOrder'
    ]),
    async onSell () {
      this.submit = true
      if (this.setPrice) {
        await this.limitSell({ amount: this.form.sellAmountInGft, price: this.form.sellPrice })
      } else {
        await this.marketSell({ amount: this.form.sellAmountInGft })
      }
      await this.fetchSells()
      this.submit = false
    },
    async onBuy () {
      this.submit = true
      if (this.setPrice) {
        await this.limitBuy({ amount: this.form.buyAmountInEos, price: this.form.buyPrice })
      } else {
        await this.marketBuy({ amount: this.form.buyAmountInEos })
      }
      await this.fetchBuys()
      this.submit = false
    },
    async onDeleteBuyOrder (order) {
      this.loading = true
      await this.deleteBuyOrder(order.order_id)
      this.myBuyOrders = this.myBuyOrders.filter(t => t.order_id !== order.order_id)
      this.loading = false
    },
    async onDeleteSellOrder (order) {
      this.loading = true
      await this.deleteSellOrder(order.order_id)
      this.mySellOrders = this.mySellOrders.filter(t => t.order_id !== order.order_id)
      this.loading = false
    },
    async fetchBuys () {
      let cumulativeGft = 0
      let cumulativeEos = 0
      const buys = await this.loadBuyOrders()
      this.buyOrders = buys.buyOrders.map(order => {
        cumulativeGft += parseFloat(order.gft_amount)
        cumulativeEos += parseFloat(order.order_value)
        order.cumulativeGft = cumulativeGft.toFixed(4) + ' GFT'
        order.cumulativeEos = cumulativeEos.toFixed(4) + ' EOS'
        return order
      })
      this.myBuyOrders = buys.myBuyOrders
    },
    async fetchSells () {
      let cumulativeGft = 0
      let cumulativeEos = 0
      const sells = await this.loadSellOrders()
      this.sellOrders = sells.sellOrders.map(order => {
        cumulativeGft += parseFloat(order.gft_amount)
        cumulativeEos += parseFloat(order.order_value)
        order.cumulativeGft = cumulativeGft.toFixed(4) + ' GFT'
        order.cumulativeEos = cumulativeEos.toFixed(4) + ' EOS'
        return order
      })
      this.mySellOrders = sells.mySellOrders
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      async handler (val) {
        if (val) {
          await this.fetchBuys()
          await this.fetchSells()
          // this.cumulativeBuyOrders = this.addCumulativeNumbers(orders.buyOrders)
          // this.cumulativeSellOrders = this.addCumulativeNumbers(orders.sellOrders)
          this.balances = await this.fetchLiquidTokens()
          this.loading = false
        }
      }
    }
  }
}
</script>
