<script>
export default {
  name: 'profile-assets-tab',
  props: {
    assets: { type: Array, default: () => [] }
  }
}
</script>

<template lang="pug">
  q-card.tab-card.text-white(flat)
    q-list
      q-item(
        v-for="asset in assets"
        :key="asset.balance"
        :to="`assets/${asset.balance}`"
      ) {{ asset.balance }}
</template>

<style lang="stylus" scoped>
  .tab-card
    background none
</style>
