<script>
export default {
  name: 'profile-my-comments-tab'
}
</script>

<template lang="pug">
q-card.tab-card.text-white(flat)
  | Coming soon
</template>

<style lang="stylus" scoped>
.tab-card
  background none
</style>
