<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'
import AssetBuyForm from './components/buy-form'
import AssetSellForm from './components/sell-form'

export default {
  name: 'asset-view',
  mixins: [validation],
  components: { AssetBuyForm, AssetSellForm },
  data () {
    return {
      asset: {},
      edit: false,
      submitting: false
    }
  },
  async mounted () {
    this.asset = await this.fetchAsset(this.$route.params.id)
    await this.fetchAccountsBalance({
      account: this.account,
      symbol: this.asset.asset_symbol.slice(2)
    })
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('assets', ['fetchAsset', 'setAttributes', 'fetchAccountsBalance']),
    removeOwnerAttribute (i) {
      this.asset.owner_attributes = [
        ...this.asset.owner_attributes.slice(0, i),
        ...this.asset.owner_attributes.slice(i + 1)
      ]
    },
    async onSetAttributes () {
      let errors = false
      for (let i = 0; i < this.asset.owner_attributes.length; i += 1) {
        this.$refs[`ownerAttr${i}Key`][0].validate()
        errors = errors || this.$refs[`ownerAttr${i}Key`][0].hasError
        this.$refs[`ownerAttr${i}Value`][0].validate()
        errors = errors || this.$refs[`ownerAttr${i}Value`][0].hasError
      }
      if (errors) return
      this.submitting = true
      await this.setAttributes({
        id: this.$route.params.id,
        attributes: this.asset.owner_attributes
      })
      this.submitting = false
      this.edit = false
      this.asset = await this.fetchAsset(this.$route.params.id)
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg(
  style="background-image: url('statics/backgrounds/proposals.svg'), linear-gradient(#320c52, #220837)"
)
  .row
    .col-md-8.offset-md-2.col-xs-12.text-h5.text-white.text-center {{ asset.asset_name }}
  .row.q-mt-xl
    .col-md-8.offset-md-2.col-xs-12
      q-card.asset-details-card.text-white
        q-card-section.flex.justify-between
          strong {{ asset.asset_category }}
          i {{ asset.asset_subcategory }}
        q-card-section
          p {{ asset.asset_description }}
        q-card-section.flex.justify-end
          div
            | Created by&nbsp;
            router-link.text-white(:to="`/@${asset.creator}`") {{ asset.creator }}
            | &nbsp;the&nbsp;
            i {{ asset.created_date }}
        q-card-section.flex.justify-end
          div
            | Owned by&nbsp;
            router-link.text-white(:to="`/@${asset.owner}`") {{ asset.owner }}
        q-card-section.flex.justify-between
          | Highest bid: {{ asset.highest_bid }} by {{ asset.highest_bidder }}
          | Offer: {{ asset.offer_price }}
        q-card-section.flex.justify-start
          | Immutable attributes
          ul
            li(v-for="attr in asset.immutable_attributes")
              | {{ attr.key }}: {{ attr.value }}
        q-card-section.column.flex.justify-start
          .flex.text-white.justify-between
            | Owner attributes
            q-btn(
              v-if="edit"
              icon="fas fa-plus"
              color="accent"
              @click="asset.owner_attributes.push({key: null, value: null})"
              rounded
              dense
              size="xs"
            )
          ul(v-if="!edit")
            li(
              v-for="(attr, i) in asset.owner_attributes"
              :key="`ownerAttrView${i}`"
            )
              | {{ attr.key }}: {{ attr.value }}
          ul.full-width(v-else)
            li.row.q-col-gutter-xs.flex.items-center.justify-between(
              v-for="(attr, i) in asset.owner_attributes"
              :key="`ownerAttr${i}`"
            )
              .col-5
                q-input(
                  :ref="`ownerAttr${i}Key`"
                  v-model="asset.owner_attributes[i].key"
                  dark
                  color="white"
                  text-color="gyftie"
                  :rules="[rules.required]"
                  lazy-rules
                )
              .col-5
                q-input(
                  :ref="`ownerAttr${i}Value`"
                  v-model="asset.owner_attributes[i].value"
                  dark
                  color="white"
                  text-color="gyftie"
                  :rules="[rules.required]"
                  lazy-rules
                )
              .col-2.text-right
                q-btn(
                  color="accent"
                  icon="fas fa-minus"
                  size="xs"
                  dense
                  @click="removeOwnerAttribute(i)"
                )
          q-btn(
            v-if="!edit"
            color="primary"
            label="Edit attributes"
            @click="edit = true"
          )
          q-btn(
            v-else
            color="primary"
            label="Save attributes"
            @click="onSetAttributes"
            :loading="submitting"
          )
  .row.q-mt-xl(v-if="asset && asset.asset_symbol")
    .col-md-8.offset-md-2.col-xs-12
      .row.q-col-gutter-md
        .col-xs-12.col-md-6
          asset-buy-form(
            :symbol="asset.asset_symbol"
          )
        .col-xs-12.col-md-6
          asset-sell-form(
            :symbol="asset.asset_symbol"
          )
</template>

<style lang="stylus" scoped>
  .asset-details-card
    background rgba(255, 255, 255, 0.1)
</style>
