<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'

export default {
  name: 'verify-user',
  mixins: [validation],
  data () {
    return {
      typeOptions: [
        'Passport', 'Driver License', 'National ID', 'Government Health-Care ID', 'Other'
      ],
      form: {
        type: null,
        typeOther: null,
        account: null,
        id: null,
        expirationDate: null,
        noExpirationDate: false
      },
      step: 'disclaimer',
      submitting: false,
      rules: {
        accountExists: async val => await this.profileExists(val) || 'The account doesn\'t exist'
      }
    }
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  watch: {
    'form.noExpirationDate': function (val) {
      if (val) {
        this.form.expirationDate = null
      }
    },
    'form.expirationDate': function (val) {
      if (val) {
        this.form.noExpirationDate = false
      }
    }
  },
  methods: {
    ...mapActions('profiles', ['verifyUser', 'profileExists']),
    async onVerify () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      await this.verifyUser(this.form)
      this.submitting = false
      this.resetForm()
    },
    async resetForm () {
      this.form = {
        id: null,
        expirationDate: null,
        noExpirationDate: false
      }
      await this.resetValidation(this.form)
    },
    openLearnMore () {
      window.open('https://docs.google.com/document/d/1RPZd1wTHLLsvzGG4lNn0f3e-7TS5kOulfDweLdWtF08', '_blank')
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/proposals.svg'), linear-gradient(#320c52, #220837)"
)
  .col-md-6.offset-md-3.col-xs-12
    .page-title.col-12.text-center Verify user
    q-card.verify-card.text-white
      q-card-section.actions.flex.justify-center
        img.avatar(
          src="statics/gyftie-icons/verify.png"
        )
      div(v-if="step === 'disclaimer'")
        q-card-section.text-center
          p To demonstrate reasonable legal/regulatory compliance, our decentralized Gyftie Community has developed an open-source privacy-preserved ID verifiability system.
          p Gyftie Private ID makes your ID verifiable while protecting your privacy.
          .row.flex.justify-around
            .col-xs-12.col-md-6
              q-btn.q-mb-lg(
                color="primary"
                label="Proceed to Gyftie Private ID"
                @click="step = 'verifyID'"
              )
            .col-xs-12.col-md-6
              q-btn(
                color="secondary"
                label="Learn more"
                @click="openLearnMore"
              )
      div(v-if="step === 'verifyID'")
        q-card-section.text-center
          q-select(
            ref="type"
            v-model="form.type"
            :options="typeOptions"
            label="ID Type"
            dark
            color="white"
            :rules="[rules.required]"
            lazy-rules
          )
          q-input(
            ref="typeOther"
            v-if="form.type === 'Other'"
            v-model="form.typeOther"
            label="Specify your ID type"
            dark
            color="white"
            :rules="[rules.requiredIf(form.type === 'Other')]"
            lazy-rules
          )
          q-input(
            ref="account"
            dark
            v-model="form.account"
            maxlength="12"
            color="white"
            label="Account to verify"
            :rules="[rules.required, rules.accountFormat, rules.accountLength, rules.accountExists]"
            lazy-rules
          )
          q-input(
            ref="id"
            dark
            v-model="form.id"
            color="white"
            label="Government ID"
            :rules="[rules.required]"
            lazy-rules
          )
          .row.flex
            .col-6
              q-input(
                ref="expirationDate"
                dark
                v-model="form.expirationDate"
                color="white"
                label="Expiration date"
                mask="##/##/####"
                hint="MM/DD/YYYY"
              )
                template(v-slot:append)
                  q-icon.cursor-pointer(name="event")
                    q-popup-proxy(
                      ref="qDateProxy"
                      transition-show="scale"
                      transition-hide="scale"
                    )
                      q-date(
                        v-model="form.expirationDate"
                        @input="() => $refs.qDateProxy.hide()"
                        mask="MM/DD/YYYY"
                      )
            .col-6
              q-checkbox.q-mt-lg(
                v-model="form.noExpirationDate"
                label="No Expiration Date"
                color="primary"
              )
        q-card-section.row.flex.justify-around
          q-btn.q-pa-sm.q-ma-sm(
            icon="fas fa-shield-alt"
            :loading="submitting"
            color="pink-4"
            outline
            rounded
            label="Verify"
            size="md"
            class="q-px-xl q-py-xs"
            @click="onVerify"
          )
</template>

<style lang="stylus">
.verify-card
  position relative
  background rgba(255, 255, 255, 0.1)
  margin-top 70px
  padding 100px 50px 50px 50px
  .actions
    position absolute
    top -100px
    left 0
    width 100%
    .avatar
      width 150px
      height auto
</style>
