.q-drawer
  color #a6a1c3
  .q-item.q-router-link--active
    color #fff
.q-page
  background #221941

.text-gyftie
  color #101549 !important
.bg-gyftie
  background #ff4ea0

.gyftie-card
  background linear-gradient(#422f67, #2e2658)
  color #fff

.text-transfer
  color #7d40e8 !important
  font-weight 800

.page-bg
  background-size cover
  background-repeat no-repeat

.page-title
  color white
  font-weight 600
  font-size 28px
  height 80px
  display block

.q-tab-panels
  background rgba(255, 255, 255, 0.1)

img.avatar
  box-shadow none
