<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'
import ProposalListCard from './components/proposal-list-card'

export default {
  name: 'page-proposals',
  components: { ProposalListCard },
  mixins: [validation],
  data () {
    return {
      form: {
        content: null,
        title: null
      },
      submitting: false
    }
  },
  computed: {
    ...mapGetters('proposals', ['proposals', 'proposalsLoaded'])
  },
  methods: {
    ...mapActions('proposals', ['fetchProposals', 'submitProposal', 'voteFor', 'voteAgainst']),
    async onLoad (index, done) {
      await this.fetchProposals()
      done()
    },
    async onSubmitProposal () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      await this.submitProposal({
        ...this.form
      })
      this.submitting = false
      this.resetForm()
      await this.fetchProposals()
    },
    async resetForm () {
      this.form = {
        content: null,
        title: null
      }
      await this.resetValidation(this.form)
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/proposals.svg'), linear-gradient(#320c52, #220837)"
)
  .col-md-6.offset-md-3.col-xs-12
    .page-title.col-12.text-center Propose / Collaborate
    q-card.proposal-card.text-white
      q-card-section.actions.flex.justify-center
        img.avatar(
          src="statics/gyftie-icons/proposal.png"
        )
      q-card-section.text-center
        q-input(
          ref="title"
          dark
          v-model="form.title"
          color="white"
          label="Title"
          :rules="[rules.required]"
        )
        q-input(
          ref="content"
          dark
          v-model="form.content"
          color="white"
          label="Content"
          type="textarea"
          :rules="[rules.required]"
        )
      q-card-section.row.flex.justify-around
        q-btn.q-pa-sm.q-ma-sm(
          icon="fab fa-hubspot"
          :loading="submitting"
          color="yellow"
          outline
          rounded
          label="Propose"
          size="md"
          class="q-px-xl q-py-xs"
          @click="onSubmitProposal"
        )
  .col-md-6.offset-md-3.col-xs-12(ref="proposalsRef")
    q-infinite-scroll(
      :disable="proposalsLoaded"
      @load="onLoad"
      :offset="250"
      :scroll-target="$refs.proposalsRef"
    )
      .row.q-col-gutter-md
        .col-xs-12(v-for="proposal in proposals")
          proposal-list-card(
            :proposal="proposal"
            :key="proposal.proposal_id"
          )
      template(v-slot:loading)
        .row.justify-center.q-my-md
          q-spinner-dots(
            color="primary"
            size="40px"
          )
</template>

<style lang="stylus">
  .proposal-card
    position relative
    background rgba(255, 255, 255, 0.1)
    margin-top 70px
    padding 100px 50px 50px 50px
    .actions
      position absolute
      top -100px
      left 0
      width 100%
      .avatar
        width 150px
        height auto
</style>
