<script>
import { mapActions, mapGetters } from 'vuex'
import { validation } from '~/mixins/validation'
import { assets } from '~/mixins/assets'

export default {
  name: 'page-transfer',
  mixins: [validation, assets],
  data () {
    return {
      liquidGft: 0,
      liquidEos: 0,
      form: {
        to: null,
        quantity: 0,
        token: null,
        memo: null
      },
      rules: {
        checkBalance: val => (
          (this.form.token === this.gyftieToken && val <= this.liquidGft) ||
          (this.form.token === this.networkToken && val <= this.liquidEos)
        ) || 'Not enough funds',
        accountExists: async val => await this.profileExists(val) || 'The account doesn\'t exist',
        accountNotSelf: val => this.account !== val || 'You can\'t send tokens to yourself'
      },
      submitting: false
    }
  },
  async mounted () {
    await this.loadLiquidities()
    this.form.token = this.gyftieToken
  },
  computed: {
    ...mapGetters('account', ['account'])
  },
  methods: {
    ...mapActions('transfer', ['fetchAvailableLiquidities', 'transfer']),
    ...mapActions('profiles', ['profileExists']),
    async onTransfer () {
      await this.resetValidation(this.form)
      if (!(await this.validate(this.form))) return
      this.submitting = true
      await this.transfer({ ...this.form })
      this.submitting = false
      await this.loadLiquidities()
      this.resetForm()
    },
    async loadLiquidities () {
      const { liquidGft, liquidEos } = await this.fetchAvailableLiquidities()
      this.liquidGft = liquidGft
      this.liquidEos = liquidEos
    },
    async resetForm () {
      this.form = {
        to: null,
        quantity: 0,
        token: this.gyftieToken,
        memo: null
      }
      await this.resetValidation(this.form)
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/transfer.svg'), linear-gradient(#320c52, #220837)"
)
  .col-md-6.offset-md-3.col-xs-12
    .page-title.col-12.text-center Pay/Send Tokens
    q-card.transfer-card.text-white
      q-card-section.actions.flex.justify-center
        img.avatar(
          src="statics/gyftie-icons/transfer.png"
        )
      q-card-section.text-center
        strong Available Balances
      q-card-section.text-center
        q-btn(
          :label="`${parseFloat(liquidGft).toFixed(4) } ${gyftieToken}`"
          dark
          color="white"
          text-color="gyftie"
          rounded
          @click="() => {form.quantity = parseFloat(liquidGft).toFixed(4); form.token = gyftieToken}"
        )
        q-btn.q-ml-lg(
          :label="`${parseFloat(liquidEos).toFixed(4) } ${networkToken}`"
          text-color="white"
          outline
          rounded
          @click="() => {form.quantity = parseFloat(liquidEos).toFixed(4); form.token = networkToken}"
        )
      q-card-section
        q-input(
          ref="to"
          autofocus
          dark
          v-model="form.to"
          label="Recipient"
          color="white"
          :maxlength="12"
          :rules="[rules.required, rules.accountFormat, rules.accountLength, rules.accountNotSelf, rules.accountExists]"
          lazy-rules
        )
        q-input(
          ref="quantity"
          dark
          v-model="form.quantity"
          color="white"
          label="Amount"
          :rules="[rules.required, rules.assetFormat, rules.assetPositive, rules.checkBalance]"
          lazy-rules
        )
          template(v-slot:after)
            q-btn(
              :label="form.token"
              round
              dense
              flat
              @click="form.token = form.token === gyftieToken ? networkToken : gyftieToken"
            )
        q-input(
          dark
          v-model="form.memo"
          color="white"
          label="Memo (optional)"
        )
      q-card-section.row.flex.justify-around
        q-btn.q-pa-sm.q-ma-sm(
          icon="far fa-paper-plane"
          :loading="submitting"
          color="transfer"
          outline
          rounded
          label="PAY/SEND"
          size="md"
          class="q-px-xl q-py-xs"
          @click="onTransfer"
        )
</template>

<style lang="stylus">
  .transfer-card
    position relative
    background rgba(255, 255, 255, 0.1)
    margin-top 70px
    padding 100px 50px 50px 50px
    .actions
      position absolute
      top -100px
      left 0
      width 100%
      .avatar
        width 150px
        height auto
</style>
