<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import AssetCard from './components/asset-card'

export default {
  name: 'page-assets',
  components: { AssetCard },
  mounted () {
    this.resetAssets()
  },
  methods: {
    ...mapActions('assets', ['fetchAssets']),
    ...mapMutations('assets', ['resetAssets']),
    async onLoad (index, done) {
      await this.fetchAssets()
      done()
    }
  },
  computed: {
    ...mapGetters('assets', ['assets', 'assetsLoaded'])
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg(
  style="background-image: url('statics/backgrounds/profile.svg'), linear-gradient(#320c52, #220837)"
)
  q-page-sticky(
    position="bottom-right"
    :offset="[18, 18]"
  )
    q-btn(
      fab
      icon="fas fa-plus"
      color="accent"
      to="/assets/add"
    )
  .assets(ref="assetsRef")
    q-infinite-scroll(
      :disable="assetsLoaded"
      @load="onLoad"
      :offset="250"
      :scroll-target="$refs.assetsRef"
    )
      .row.q-col-gutter-md
        .col-xs-12.col-sm-6.col-md-4(
          v-for="asset in assets"
          :key="asset.asset_id"
        )
          asset-card(:asset="asset")
      template(v-slot:loading)
        .row.justify-center.q-my-md
          q-spinner-dots(
            color="primary"
            size="40px"
          )
</template>
