<template lang="pug">
q-layout(view="lHh Lpr lFf")
  q-header
    q-toolbar.flex(:class="`${isAuthenticated ? 'justify-between' : 'justify-end'}`")
      .menu-bg(v-show="menu")
      q-btn(
        v-if="isAuthenticated"
        flat
        @click="menu = !menu"
        round
        dense
        icon="menu"
      )
      img.mobile-logo(
        v-if="$q.screen.lt.sm"
        src="statics/logos/mobile.png"
      )
      div(v-if="hasAccount")
        q-btn(
          dense
          flat
          round
          icon="settings_input_antenna"
          @click="toggleNotifications"
          size="sm"
        )
          q-badge.notification-badge(
            v-if="successCount"
            color="green"
            :label="successCount"
            floating
          )
          q-badge.notification-badge.badge-left(
            v-if="errorCount"
            color="red"
            :label="errorCount"
            floating
          )
        q-btn(
          :label="account"
          flat
          no-caps
        )
          q-menu
            q-list(dense)
              q-item(
                v-if="isAuthenticated"
                :to="`/@${account}`"
                clickable
                v-close-popup
              )
                q-item-section My profile
              q-separator
              q-item(
                @click="logout"
                clickable
                v-close-popup
              )
                q-item-section Logout
  q-drawer.gyftie-drawer(
    v-if="isAuthenticated"
    v-model="menu"
    :width="300"
  )
    left-menu
  q-drawer.gyftie-drawer(
    v-model="right"
    side="right"
    overlay
    bordered
  )
    right-menu-notifications
  q-page-container
    router-view
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import LeftMenu from '~/components/layout/left-menu.vue'
import RightMenuNotifications from '~/components/layout/right-menu-notifications'

export default {
  components: {
    LeftMenu,
    RightMenuNotifications
  },
  data () {
    return {
      menu: false,
      right: false
    }
  },
  computed: {
    ...mapGetters('account', ['isAuthenticated', 'hasAccount', 'account']),
    ...mapGetters('notifications', ['successCount', 'errorCount'])
  },
  methods: {
    ...mapMutations('notifications', ['initNotifications', 'unmarkRead', 'unmarkNew']),
    ...mapActions('account', ['logout']),
    toggleNotifications () {
      if (this.right) {
        this.unmarkRead()
      }
      this.right = !this.right
    }
  },
  async mounted () {
    this.initNotifications()
  }
}
</script>

<style lang="stylus">
.q-layout__section--marginal
  background linear-gradient(to right, #320c52, #1f85d7)
.gyftie-drawer
  .q-drawer
    background linear-gradient(#5412ae, #310750) !important
.menu-bg
  position absolute
  background #5412ae
  height 100%
  width 54px
  margin-left -13px
  border-radius 0 40% 40% 0
.mobile-logo
  max-height 40px
  position absolute
  left calc(50% - 17px)
.notification-badge
  font-size 10px
  padding 2px 3px
  right -5px
.badge-left
  left -5px
  right auto
</style>
