<script>
import { assets } from 'src/mixins/assets'
import Step1Presentation from './components/step-1-presentation'

import Step2Gyftie from './components/step-2-gyftie'
import Step3Gyftie from './components/step-3-gyftie'
import Step4Gyftie from './components/step-4-gyftie'

import Step2Friend from './components/step-2-friend'
import Step3Friend from './components/step-3-friend'
import Step4Friend from './components/step-4-friend'

import StepFinal from './components/step-final'

export default {
  name: 'page-onboard',
  mixins: [assets],
  components: { Step1Presentation, Step2Gyftie, Step3Gyftie, Step4Gyftie, Step2Friend, Step3Friend, Step4Friend, StepFinal },
  data () {
    return {
      step: this.isEOS ? 'step-1-presentation' : 'step-2-gyftie'
    }
  },
  methods: {
    changeStep (step) {
      this.step = step
    }
  }
}
</script>

<template lang="pug">
q-page.page-bg.q-pa-lg.row(
  style="background-image: url('statics/backgrounds/balances.svg'), linear-gradient(#320c52, #220837)"
)
  .page-title.col-12.text-center Let's begin
  .col-md-8.offset-md-2.col-xs-12
    q-card.create-account-card.text-white
      q-card-section.actions.flex.justify-center.relative-position
        img.inner-logo(src="statics/gyftie-icons/white-logo.svg")
        img.avatar(
          src="statics/gyftie-icons/balance.png"
        )
      step1-presentation(
        v-if="step === 'step-1-presentation'"
        @changeStep="changeStep"
      )
      step2-gyftie(
        v-if="step === 'step-2-gyftie'"
        @changeStep="changeStep"
      )
      step3-gyftie(
        v-if="step === 'step-3-gyftie'"
        @changeStep="changeStep"
      )
      step4-gyftie(
        v-if="step === 'step-4-gyftie'"
        @changeStep="changeStep"
      )
      step2-friend(
        v-if="step === 'step-2-friend'"
        @changeStep="changeStep"
      )
      step3-friend(
        v-if="step === 'step-3-friend'"
        @changeStep="changeStep"
      )
      step4-friend(
        v-if="step === 'step-4-friend'"
        @changeStep="changeStep"
      )
      step-final(
        v-if="step === 'step-final'"
      )
</template>

<style lang="stylus">
.create-account-card
  position relative
  background rgba(255, 255, 255, 0.1)
  padding 60px 25px 25px 25px
  .actions
    position absolute
    top -100px
    left 0
    width 100%
    .inner-logo
      position absolute
      width 80px
      top 50px
      left calc(50% - 40px)
    .avatar
      width 150px
      height auto
</style>
